.button-class {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 4px 8px;

  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: regular;
  color: black;
  white-space: nowrap;

  cursor: pointer;

  background: none;
  transition: all 0.3s ease;
}

.button-class:hover {
  background-color: var(--color-accent);
  opacity: 0.8;
}

.button-class.active {
  background-color: var(--color-accent);
  border-bottom: 1px solid black;
}

.button-class.active h1 {
  color: black;
}

.button-class h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  font-size: 1.0rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
