.concert-page-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right,
    var(--color-secondary),
    var(--color-primary));
    flex: 1;
    justify-content: start;
    align-items: start;
    min-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.concert-page-container::-webkit-scrollbar {
    display: none;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 100%;

}

.festival-carousel {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    margin-right: 200px;
    margin-left: 200px;
}


.concerts-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: start;
    align-items: start;
    height: 100%;
}

.concerts-container h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 50px 10px;
    font-weight: bold;
}

.concert-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* default: 1 per row */
    gap: 25px;
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .concert-grid {
        grid-template-columns: repeat(3, 1fr); /* medium: 3 per row */
    }
}

@media (min-width: 1280px) {
    .concert-grid {
        grid-template-columns: repeat(5, 1fr); /* large: 5 per row */
    }
}

.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}