version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./src:/app/src
      - ./target:/app/target
      - ./src/main/resources/application.properties:/app/src/main/resources/application.properties
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8060:8060"

  frontend:
    build:
      context: ./react-beats
      dockerfile: Dockerfile.dev
    volumes:
      - ./react-beats:/app
      - /app/node_modules
    ports:
      - "8050:8050"

  scraper:
    build:
      context: ./scraper-microservice
      dockerfile: Dockerfile.dev
    volumes:
      - ./scraper-microservice:/app
      - /app/node_modules
    ports:
      - "8070:8070"
    command: uvicorn main:app --host 0.0.0.0 --port 8070 --reload
