.concert-card {
  width: 100%;
  height: 25vh;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.concert-card.selected {
  border: 2px solid var(--color-accent);
}

.concert-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
  padding: 10px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.2)
    ),
    url("/images/image.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(40px);
}

.concert-info p {
  margin: 4px 0;
  color: white;
}

.concert-info .time {
  font-size: 0.9rem;
  color: white;
}

.add-button {
  padding: 8px 12px;
  background-color: var(--color-accent);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.remove-button {
  padding: 8px 12px;
  background-color: var(--color-error);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-button:hover {
  background-color: #1b5e20;
}
